{% use "@Contao/component/_figure.html.twig" %}

{% set partner_logo_size = picture_config({
    width: 213,
    height: 213,
    resizeMode: 'proportional'
}) %}

<div class="defaultcontainer gridwrapper !px-2 md:px-0 block">
  <h3 title="{{ headline }}">
    {{ headline }}
  </h3>
  <div class="inside grid ce_wrapperStart grid-543">
    {% for partner in partners %}
      <div class="ce_hyperlink block">
        <figure class="image_container">
          <a href="{{ partner.url }}" title="{{ partner.displayname ? partner.displayname : partner.name }}" class="hyperlink_img" target="_blank" rel="noreferrer noopener">
          {% if partner.logo %}
            {% set image = figure(partner.logo, partner_logo_size) %}
            {% with {figure: image} %}
              {{ block('figure_component') }}
            {% endwith %}
          {% else %}
            <span>
              {{ partner.displayname ? partner.displayname : partner.name }}
            </span>
          {% endif %}
          </a>
        </figure>
      </div>
    {% endfor %}
  </div>
</div>

