{% extends "@Contao/content_element/table.html.twig" %}

{% set attributes = attrs().addClass('defaultcontainer').mergeWith(attributes|default) %}

{% block headline_attributes %}
    {{- attrs(headline.attributes|default).addClass('text-4xl md:text-5xl') -}}
{% endblock %}

{% block content %}
    {% set grid_classes = class|default('')|length > 15 ? class : 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3' %}

    <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8 py-8 bg-steelwhite">
        <dl class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base/7 text-gray-600 lg:mx-0 lg:max-w-none lg:gap-x-8 lg:gap-y-16 {{ grid_classes }}">
            {% for row in rows %}
                {% set icon_svg = row[2]|default('')|decode_entities|replace({'<br>': '', '<br/>': '', '<br />': ''}) %}
                {% if '<svg class="' in icon_svg %}
                    {% set icon_svg = icon_svg|replace({'<svg class="': '<svg class="absolute -left-4 top-1 h-10 w-10 text-steelblue fill-steelgreen '}) %}
                {% else %}
                    {% set icon_svg = icon_svg|replace({'<svg': '<svg class="absolute -left-4 top-1 h-10 w-10 text-steelblue fill-steelgreen"'}) %}
                {% endif %}

                <div class="relative pl-9">
                    <dt class="inline font-semibold text-gray-900">
                        {{- icon_svg|raw -}}
                        {{- row[0]|default('')|trim|replace({'\n': '<br>\n'})|sanitize_html('contao')|insert_tag_raw -}}
                    </dt>
                    <dd class="inline">
                        {{- row[1]|default('')|trim|replace({'\n': '<br>\n'})|sanitize_html('contao')|insert_tag_raw -}}
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
{% endblock %}
