{% use "@Contao/component/_figure.html.twig" %}
{% set team_logo_size = picture_config({
    width: 100,
    height: 100,
    resizeMode: 'proportional'
}) %}

{% if has_data %}
  {% set homeTeam = current_series.home %}
  {% set awayTeam = current_series.away %}
  
  <div
    class="mt-16 Gamestrip relative overflow-hidden nhl Gamestrip--xl Gamestrip--post bb py-3 bg-bottom bg-cover text-white"
    style="background-image: url('/files/steelers/layout/po_bg.png')">
    <h3 class="text-center text-steelpogreen">Playoffs 2025 - {{ current_series.round }} - Best Of {{ current_series.bestof }}</h3>
    <div class="Gamestrip__Competitors relative flex Gamestrip__Competitors--border">
      <div class="Gamestrip__Team relative flex w-full items-center Gamestrip__Team--left">
        <div class="Gamestrip__TeamContent flex tc w-full Gamestrip__TeamContent--left Gamestrip__TeamContent--post">
          <div class="Gamestrip__TeamContainer flex items-center">
            <div class="Gamestrip__InfoLogo Gamestrip__InfoLogo--Left">
              {{ contao_figure(project_dir ~ current_series.home.logo, team_logo_size, {metadata: { alt: homeTeam.name, class: 'Image Logo Gamestrip__Logo Gamestrip__Logo--xl Logo__xl' }}) }}
            </div>
            <div class="Gamestrip__Info Gamestrip__Info--post hidden lg:block">
              <div class="Gamestrip__InfoWrapper items-center flex">
                <div class="ScoreCell__Truncate Gamestrip__Truncate h4 clr-gray-01">
                  <p class="ScoreCell__TeamName ScoreCell__TeamName--displayName text-2xl font-bold">
                    {{ homeTeam.name }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="Gamestrip__ScoreContainer flex flex-col items-center justify-center relative">
            <div class="Gamestrip__Score font-headline text-steelpogreen relative tc w-full text-8xl text-right">
              {{ current_series.wins_home }}</div>
          </div>
        </div>
      </div>
      <div class="Gamestrip__Overview__Wrapper">
        <div
          class="Gamestrip__Overview max-w-[50px] md:max-w-[140px] relative items-center clr-gray-04 flex justify-center flex-col n8 Gamestrip__Overview">
          <div class="Gamestrip__Time--wrapper">
            <div
              class="ScoreCell__Time hidden sm:block Gamestrip__Time ScoreCell__Time--post text-center font-thin text-gray-500">
              vs.</div>
          </div>
        </div>
      </div>
      <div class="Gamestrip__Team relative flex w-full items-center Gamestrip__Team--right Gamestrip__Team--winner">
        <div class="Gamestrip__TeamContent flex tc w-full Gamestrip__TeamContent--right Gamestrip__TeamContent--post">
          <div class="Gamestrip__TeamContainer flex items-center">
            <div class="Gamestrip__InfoLogo Gamestrip__InfoLogo--Right">
              {{ contao_figure(project_dir ~ current_series.away.logo, team_logo_size, {metadata: { alt: current_series.away.shortname, class: 'Image Logo Gamestrip__Logo Gamestrip__Logo--xl Logo__xl' }}) }}
            </div>
            <div class="Gamestrip__Info Gamestrip__Info--post hidden lg:block">
              <div class="Gamestrip__InfoWrapper items-center flex">
                <div class="ScoreCell__Truncate Gamestrip__Truncate h4 clr-gray-01">
                  <p class="ScoreCell__TeamName ScoreCell__TeamName--displayName text-2xl font-bold">
                    {{ awayTeam.name }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="Gamestrip__ScoreContainer flex flex-col items-center justify-center relative">
            <div class="Gamestrip__Score font-headline text-steelpogreen relative tc w-full text-8xl">
              {{ current_series.wins_away }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col text-sm mx-auto max-w-lg">
      {% for k, game in current_series.display_games %}
        <div class="flex flex-row mb-2 py-2 bg-black/70">
          <div class="px-2 flex-none text-right pr-4" style="width: 110px;">{{ game.gamedate|format_datetime(locale='de', pattern="EEE, dd.MM.") }}</div>
          <div class="px-2 flex-none" style="width: 70px;">{{ game.gametime }}</div>
          <div class="px-2 flex-1">{{ game.home.shortname }} - {{ game.away.shortname }}</div>
          {% if game.ended %}
            <div class="px-2 flex-none font-bold">{{ game.homescore ~ ':' ~ game.awayscore }} {{ game.resulttype }}</div>
          {% elseif k >= current_series.games_needed %}
            <div class="px-2 flex-none">(falls nötig)</div>
          {% elseif game.home.shortname == 'SCB' and game.eventimurl %}
            <div class="px-2 flex-none"><a class="text-steelblue underline" href="{{ game.eventimurl }}">Tickets</a></div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

