{% extends "fe_page.html.twig" %}

{% set bodyAttributes = attrs(bodyAttributes|default)
	.addClass(['min-h-screen', 'h-full', 'bg-cover', 'bg-center'])
	.set('style', "background-image: url('/files/steelers/layout/arena-bg2.jpg');")
%}

{% block meta %}
	{{ parent() }}
	<meta property="og:title" content="{{ pageTitle }} - {{ mainTitle }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="{{ app.request ? app.request.schemeAndHttpHost ~ app.request.requestUri : '' }}">
	<meta name="twitter:title" content="{{ pageTitle }} - {{ mainTitle }}">
	<meta name="twitter:description" content="{{ description }}">
	<meta name="twitter:card" content="summary_large_image">

	{% set social_image = og_image|default('/files/steelers/teams/SCB.png') %}
	<meta name="twitter:image" content="{{ social_image }}">
	<meta property="og:image" content="{{ social_image }}">
{% endblock %}

{% block body %}
	<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
			<div class="bg-white/20 backdrop-blur-lg drop-shadow-md px-5 py-5 shadow sm:rounded-lg sm:px-12">
				<svg class="links-nav-logo m-auto" version="1.1" viewBox="0 0 211.074 135">
					<g>
						<path class="puckcolor" d="M127.802,76.581c0.754-0.874,1.512-1.675,2.28-2.419 c0.57,0.302,1.162,0.542,1.773,0.72c-0.878,1.478-1.058,2.837-0.466,3.975c1.041,1.997,3.957,2.897,11.479,2.044 c1.647-0.187,3.506-0.479,5.622-0.838c4.43-0.747,9.326-1.879,14.276-3.303c8.532-2.446,17.189-5.688,23.753-8.933 c-3.122,2.22-6.82,4.337-10.833,6.245c-7.595,3.612-16.186,6.553-23.713,8.48c-2.148,0.552-4.22,1.028-6.18,1.397 c-5.879,1.105-10.885,1.309-14.957,0.674c-0.968-0.149-1.934-0.316-2.698-0.656C125.143,82.664,124.455,80.459,127.802,76.581" />
						<polygon class="starcolor" points=" 140.24,22.131 146.662,15.341 155.572,18.789 150.404,11.866 155.82,7.508 148.654,8.056 143.42,0.927 142.759,9.195 134.379,12.056 142.669,13.769 " />
						<polygon class="starcolor" fill=" #10B75A" points="102.768,17.307 100.652,29.171 108.628,18.845 120.519,22.108 112.951,13.866 119.794,7.025 109.934,8.817 101.956,0 102.293,11.139 91.531,16.149" />
						<polygon class="starcolor" points=" 68.582,35.955 68.014,44.773 72.917,36.612 82.091,38.034 75.778,32.487 80.1,27.038 73.25,29.178 66.5,23.36 67.7,31.576 60.32,36.062 " />
						<path class="puckcolor" d="M210.429,78.85c-1.191,3.707-4.082,6.675-6.809,9.697 c-3.556,3.525-8.008,6.712-12.616,9.26c-0.828,0.459-1.753,0.996-2.709,1.506c-5.957,3.148-12.436,5.38-19.056,7.27 c-8.626,2.217-15.404,3.813-18.287,4.41c-3.831,0.791-8.25,1.843-13.149,3.963c-4.137,1.795-5.481,2.725-9.741,5.313 c-4.259,2.593-9.53,5.186-14.374,6.452c-2.424,0.635-4.772,1.234-7.618,1.699c-2.846,0.467-6.169,0.795-10.667,0.955 c-5.973,0.214-9.184,0.135-14.337,0.521c-5.744,0.429-8.482,0.879-11.663,1.433c-3.175,0.555-6.59,1.436-6.59,1.436 s6.226-3.756,18.696-5.24c12.474-1.481,14.211-0.547,24.45-2.487c7.906-1.498,12.849-5.764,14.538-7.136 c1.689-1.371,6.061-5.204,12.179-8.043c6.205-2.9,12.866-4.471,19.604-5.979c13.3-2.861,21.242-4.859,29.725-9.102 c2.74-1.369,4.986-2.756,6.854-4.108c3.919-2.84,6.254-5.597,7.998-8.013c-4.475,3.848-9.288,6.715-13.74,8.881 c-4.969,2.416-9.527,3.872-13.003,4.928c-8.499,2.58-17.859,4.408-25.351,6.246c-6.096,1.493-11.712,3.463-16.625,5.694 c-0.716,0.322-1.433,0.64-2.121,0.979c-5.389,2.661-7.083,3.755-9.953,5.674c-2.866,1.923-7.857,5.66-18.697,6.996 c-10.835,1.34-14.413-0.68-26.895,0.443c-12.472,1.127-19.013,3.818-25.007,5.865c-5.992,2.043-10.89,3.863-14.324,5.018 C28.18,134.38,25.51,135,25.51,135s8.122-3.661,16.512-7.323c8.39-3.663,16.56-6.886,25.858-8.188 c8.403-1.176,12.951-0.057,21.285-1.352c7.483-1.159,10.257-3.372,10.785-5.471c0.137-0.537,0.134-1.164,0.018-1.648 c-0.611-2.457-5.108-3.416-10.143-2.637c-5.029,0.776-8.548,2.039-12.659,3.668c-4.11,1.633-8.688,3.675-12.758,4.781 c-4.07,1.107-8.107,1.449-14.37,1.186c-6.268-0.269-8.866-0.735-13.292-0.516c-4.425,0.223-8.044,0.711-12.708,2.469 c-4.663,1.759-8.61,4.035-11.145,5.745c3.521-2.847,6.381-5.013,11.293-7.413c4.912-2.403,8.534-3.141,12.969-3.387 c4.436-0.246,10.43,0.426,19.442-1.184c5.32-0.947,9.186-2.926,12.726-4.995c2.065-1.204,4.001-2.501,6.005-3.542 c4.454-2.316,9.047-3.748,14.796-4.54c6.633-0.911,7.874,0.511,13.407-0.49c5.543-1.003,4.599-3.277,3.494-4.259 c-0.433-0.381-1.036-0.768-1.907-1.139c-1.371-0.594-3.255-1.141-5.936-1.297c-4.387-0.258-10.108,0.69-15.088,2.609 c-2.507,0.962-4.29,1.854-5.988,2.771c-1.678,0.91-3.32,1.811-5.564,2.926c-4.513,2.245-10.763,5.13-15.696,6.542 c-4.933,1.413-8.547,1.771-12.381,1.981c5.307-0.921,13.949-3.739,19.806-6.725c1.892-0.964,3.985-1.944,6.115-3.165 c4.553-2.61,9.491-5.541,12.508-7c5.889-2.849,8.726-3.889,17.523-4.874c4.443-0.497,8.446-0.608,13.23-0.212 c2.513,0.209,5.419,0.775,8.52,0.904c3.114,0.129,9.786,1.117,20.583-0.697c10.792-1.816,25.771-6.223,37.082-11.641 c1.968-0.943,3.686-1.886,5.319-2.778c7.761-4.214,12.006-7.786,14.215-10.16c2.671-2.872,4.268-6.026,3.237-8.609 c-0.746-1.867-2.531-2.919-4.804-3.636c0.374-0.837,0.479-1.613,0.474-2.229c-0.002-0.205-0.017-0.427-0.05-0.664 c2.734,0.586,5.302,1.554,6.649,3.002c1.101,1.178,1.646,1.757,2.557,4.552c0.669,2.055,1.02,3.655,1.934,7.498 c0.64,2.678,1.088,4.689,1.365,6.378c0.248,1.535,0.318,2.828,0.339,4.009C211.104,76.031,211.001,77.238,210.429,78.85" />
					</g>
				</svg>
				<div>
					{{ main|raw }}
				</div>
				<p class="mt-10 text-center text-sm/6 text-black">
					<a href="/impressum">Impressum</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
