{%- set rootAttributes = attrs()
    .set('lang', language)
    .set('dir', 'rtl', isRTL)
    .mergeWith(rootAttributes|default)
-%}

{%- set bodyAttributes = attrs()
    .set('id', 'top')
    .addClass(class)
    .setIfExists('onload', onload)
    .mergeWith(bodyAttributes|default)
-%}
<!DOCTYPE html>
<html{{ rootAttributes }}>
<head>
{#  
// classes to avoid purging
// mt-10 mt-5 w-p60 h-p40 grid grid-cols-2 border-steelgreen border-gray-300 ring-2 ring-steelgreen max-w-xl max-w-2xl max-w-4xl min-w-xl min-w-2xl min-w-4xl
#}

    {% block head %}
        <meta charset="{{ charset }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/files/steelers/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/files/steelers/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/files/steelers/icons/favicon-16x16.png">
        <link rel="manifest" href="/files/steelers/icons/site.webmanifest">
        <link rel="mask-icon" href="/files/steelers/icons/safari-pinned-tab.svg" color="#046a38">
        <link rel="shortcut icon" href="/files/steelers/icons/favicon.ico">
        <title>{{ title }}</title>
        <base href="{{ base }}">

        {% block meta %}
            <meta name="robots" content="{{ robots }}">
            <meta name="description" content="{{ description|u.truncate(320, '…') }}">
            <meta name="generator" content="Contao Open Source CMS">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
            <meta name="msapplication-TileColor" content="#046a38">
            <meta name="msapplication-config" content="/files/steelers/icons/browserconfig.xml">
            <meta name="theme-color" content="#ffffff">

            <meta property="og:title" content="{{ pageTitle }} - {{ mainTitle }}" />
            <meta property="og:description" content="{{ description }}" />
            <meta property="og:image" content="/files/steelers/teams/SCB.png" />            

            {% for metaTag in metaTags|default %}
                <meta{{ attrs(metaTag) }}>
            {% endfor %}
        {% endblock %}

        {% if canonical|default %}
            <link rel="canonical" href="{{ canonical }}">
        {% endif %}

        {{ viewport|raw }}
        {{ framework|raw }}
        {{ stylesheets|raw }}
        {{ mooScripts|raw }}
        {{ head|raw }}
    {% endblock %}

</head>
<body{{ bodyAttributes }} id="top" class="overflow-y-scroll">

{% block body %}
    {{ contao_sections('top') }}

    <div id="wrapper">
      <img src="files/steelers/layout/muster-bg.svg" class="fixed pointer-events-none" style="opacity: 0.10; left: -20vw; width: 120vw; max-width: 120vw; min-height: 100vh;"
        alt="" role="presentation"/>

        {% block header %}
            {% if header %}
                <header id="header">
                    <div class="inside">
                      <div class="h-20 max-h-20 overflow-hidden bg-white">
                        {{contao_section('preheader')}}
                      </div>
                        {{ header|raw }}
                    </div>
                </header>
            {% endif %}
        {% endblock %}

        {{ contao_sections('before') }}

        {% block container %}
            <div id="container">

                {% block main %}
                    <main id="main">
                        <div class="inside">
                            {{ main|raw }}
                        </div>
                        {{ contao_sections('main') }}
                    </main>
                {% endblock %}

                {% block left %}
                    {% if left %}
                        <aside id="left">
                            <div class="inside">
                                {{ left|raw }}
                            </div>
                        </aside>
                    {% endif %}
                {% endblock %}

                {% block right %}
                    {% if right %}
                        <aside id="right">
                            <div class="inside">
                                {{ right|raw }}
                            </div>
                        </aside>
                    {% endif %}
                {% endblock %}

            </div>
        {% endblock %}

        {{ contao_sections('after') }}

        {% block footer %}
            {% if footer %}
                <footer id="footer">
                    <div class="inside">
                        {{ footer|raw }}
                    </div>
                </footer>
            {% endif %}
        {% endblock %}

    </div>

    {{ contao_sections('bottom') }}
{% endblock %}

{{ mootools|raw }}
{{ jsonLdScripts|raw }}

</body>
</html>
