<ul class="nav navbar-nav d-flex justify-content-start gap-3 mx-xl-5 text-center">
    {% for item in items %}
        {% set itemClass = [item.class|default, 'nav-item'] %}

        {% if item.isActive %}
            <li{{ attrs().addClass(itemClass) }}>
                <strong class="nav-link btn-outline-primary px-3 active" aria-current="page">{{ item.link }}</strong>
                {{- item.subitems|default|raw -}}
            </li>
        {% else %}
            <li{{ attrs().addClass(itemClass) }}>
                <a{{ attrs()
                    .set('href', item.href)
                    .addClass(['nav-link', 'btn-outline-primary', 'px-3'])
                    .set('title', item.pageTitle ?: item.title)
                    .setIfExists('accesskey', item.accesskey|default)
                    .set('aria-haspopup', true, item.subitems|default)
                    .mergeWith(item.target|default)
                    .mergeWith(item.rel|default)
                }}>{{ item.link }}</a>
                {{- item.subitems|default|raw -}}
            </li>
        {% endif %}
    {% endfor %}
</ul>
