{% use "@Contao/component/_figure.html.twig" %}

{% set player_image_size = picture_config({
    width: 400,
    height: 500,
    resizeMode: 'crop',
    sizes: '(max-width: 640px) 640px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (max-width: 1280px) 1280px, 1536px',
    densities: '1x, 2x'
}) %}

{% block content %}
<div class="defaultcontainer tilastot-roster !mt-4 md:!mt-20 {{ cssClass }}"{% if cssId %} id="{{ cssId }}"{% endif %}>

  {% for position, posPlayers in players %}
    <h4 class="uppercase text-4xl md:text-5xl font-headline w-full border-b-4 border-gray-800 p-4 pl-0 mb-6 mt-16 md:mt-28 first:mt-0">
      {% if position == '0G' %}
        Goalies
      {% elseif position == '2D' %}
        Verteidiger
      {% elseif position == '4F' %}
        Stürmer
      {% elseif position == 'Staff' %}
        Coaches
      {% endif %}
    </h4>

    <ul role="list" class="mb-16 md:mb-24 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {% if posPlayers is iterable %}
        {% for player in posPlayers %}
          <li class="bg-white shadow group">
            {% if position == 'Staff' %}
              <a class="col-span-1 flex flex-col">
            {% else %}
              <a class="col-span-1 flex flex-col" href="/spieler/{{ player.alias }}">
            {% endif %}
              <div class="aspect-w-4 aspect-h-5 bg-white overflow-hidden relative">
                {% if position == 'Staff' %}
                  <div class="absolute z-30 font-headline group-hover:text-white text-steelgreen text-4xl left-4 top-2 right-auto bottom-auto w-auto h-auto">
                    {{ player.about }}
                  </div>
                {% else %}
                  <div class="absolute z-30 font-headline group-hover:text-white text-steelgreen text-6xl left-4 top-2 right-auto bottom-auto w-auto h-auto">
                    {{ player.jersey }}
                  </div>
                {% endif %}

                <div class="hidden group-hover:block absolute z-20 text-white bg-steelgreen bg-opacity-80">
                  <div class="flex flex-col justify-end h-full p-5">
                    <div class="text-sm uppercase">Geboren</div>
                    <div class="text-lg font-bold -mt-1">{{ player.birthday|date('d. F Y') }}</div>
                    <div class="text-lg font-bold -mt-1">{{ player.birthplace }}</div>
                    <div class="border-t-4 border-white my-3"></div>
                    {% if position != 'Staff' %}
                      <div class="text-sm uppercase">Facts</div>
                      <div class="text-lg font-bold -mt-1">{{ player.weight }} kg</div>
                      <div class="text-lg font-bold -mt-1">{{ player.height }} cm</div>
                      <div class="text-lg font-bold -mt-1">
                        {% if position == '0G' %}
                          {% if player.shoots == 'left' %}
                            fängt links
                          {% elseif player.shoots == 'right' %}
                            fängt rechts
                          {% endif %}
                        {% else %}
                          {% if player.shoots == 'left' %}
                            schießt links
                          {% elseif player.shoots == 'right' %}
                            schießt rechts
                          {% endif %}
                        {% endif %}
                      </div>
                      <div class="border-t-4 border-white my-3"></div>
                    {% endif %}
                    <div class="text-sm uppercase">Ein Steeler seit</div>
                    <div class="text-lg font-bold -mt-1">{{ player.steelersince }}</div>
                  </div>
                </div>
                
                {% if player.profilePic %}
                  {% set image = figure(player.profilePic.uuid, player_image_size, {metadata: { alt: player.firstname ~ ' ' ~ player.lastname }}) %}
                  {% with {figure: image} %}
                    <div class="w-full h-full object-top object-cover">
                      {{ block('figure_component') }}
                    </div>
                  {% endwith %}
                {% endif %}
              </div>
              <div>
                <div class="p-5 uppercase">
                  <div class="text-2xl">{{ player.firstname }}</div>
                  <div class="-mt-2 text-steelgreen text-3xl md:text-4xl font-bold overflow-ellipsis">
                    {{ player.lastname }}
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endfor %}
</div>
{% endblock %}
