{% use "@Contao/component/_figure.html.twig" %}

{% set image_size = picture_config({
    width: 900,
    height: 900,
    resizeMode: 'box',
    sizes: '(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw',
    densities: '1x, 2x'
}) %}

<div class="defaultcontainer">
  {% if headline.text is defined and headline.text %}
    <h3 class="mb-6">{{ headline.text }}</h3>
  {% endif %}

  <ul class="masonry-gallery" data-gallery="gallery{{ data.id }}">
    {% for picture in images %}
      {% set image = figure(
        picture.image.img.src|add_root,
        image_size,
        {
          metadata: { alt: headline.text },
          options: { attr: { class: 'masonry-gallery__image' } }
        }
      ) %}

      {% set width = image.image.img.width|default(1) %}
      {% set height = image.image.img.height|default(1) %}
      {% set ratio = height / width %}
      {% set row_span = ratio > 1.35 ? 34 : (ratio < 0.75 ? 14 : 22) %}

      <li class="masonry-gallery__item" style="--row-span: {{ row_span }};">
        <a href="/{{ picture.image.img.src }}" class="masonry-gallery__link glightbox" data-gallery="gallery{{ data.id }}">
          {% with { figure: image } %}
            {{ block('figure_component') }}
          {% endwith %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
